*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $default-font-size;

  @include respond(large) {
    font-size: $default-font-size * 1.6;
  }

  @include respond(medium) {
    font-size: $default-font-size * .9;
  }

  @include respond(small) {
    font-size: $default-font-size * .8;
  }

}

body {
  box-shadow: inherit;
  position: relative;
  height: 100%;
}