@mixin display-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin text-style($font-size, $margin-bottom, $letter-spacing) {
  font-size: $font-size;
  margin-bottom: $margin-bottom;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 1px 3px $color-secondary;
}

// Media Query Manager
/* 
  0-600px:      phone
  600-900px:    tablet portrait
  900-1200px:   tablet landscape
  1200-1800px:  normal styles
  1800*:        big desktop
*/

// 1em = 16px;

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) { @content }; // 900px;
  }

  @if $breakpoint == large {
    @media only screen and (min-width: 87.5em) { @content }; // 1800px;
  }
}