$default-font-size: 62.5%; // 62.5% of 16px = 10px;

// colors;
$color-primary: rgb(70, 182, 235);
$color-secondary: rgb(65, 115, 209);
$color-tertiary: rgb(245, 241, 12);

$color-white: #F5F7EA;
$color-black: #333;

$color-low: rgb(238, 31, 31);
$color-medium: rgb(9, 255, 0);
$color-high: rgb(70, 182, 235);

$color-error: rgb(238, 36, 36);